@page "/"
@inherits BlogListBase

    <Tag></Tag>

@if (blogs == null || blogs.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
    <Virtualize Items="@blogs" Context="post">
        <ItemContent>
            <div>
                <h4><a href="/posts/@post.Slug">@post.Title</a></h4>
                <p>
                    <small>@post.Published_At.Value.ToString("dd MMMM yyyy", CultureInfo.CurrentCulture)</small>
                    &nbsp;@post.Description
                </p>
            </div>
        </ItemContent>
    </Virtualize>
    </div>
}
