@page "/metrics"
@page "/metrics/{Username}"
@page "/metrics/{Offset:int}"
@inherits MetricsBase
<PageTitle>Metrics - Funky Si's Blog</PageTitle>
<h2>Metrics</h2>

<p>A page of metrics about me from various services.</p>

<div class="post-content">
    @for (int i = 0; i < (int)MetricType.Electricity + 1; i++)
    {
        <Chart Type="@((MetricType)i)" OffSet="@OffSet" Username="@Username"></Chart>
    }
</div>
