<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">Funky Si's Blog by Simon Foster</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" style="color: white" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about" style="color: white">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pwned-pass" style="color: white">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Pwned Pass
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="config" style="color: white">
                <span class="oi oi-cog" aria-hidden="true"></span> Config
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="metrics" style="color: white">
                <span class="oi oi-graph" aria-hidden="true"></span> Metrics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AzureDevOps" style="color: white">
                <span class="oi oi-project" aria-hidden="true"></span> AzureDevOps
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
