<div class="top">
    <div>
        <img src="https://storageaccountblog9f5d.blob.core.windows.net/blazor/wp-content/uploads/2014/09/1922276.jpg" alt="FunkySi1701 aka Simon Foster" />
    </div>
    <div class="div-height" >
        <h4 class="site-description">Simon Foster - <br />Software Developer based in the North of England, More than just another developer.</h4>
        <NavLink href="https://facebook.com/funkysi1701" style="color: black">
            <span class="fab fa-facebook" aria-hidden="true"></span> Facebook
        </NavLink><br />
        <NavLink href="https://twitter.com/funkysi1701" style="color: black">
            <span class="fab fa-twitter" aria-hidden="true"></span> Twitter
        </NavLink><br />
        <NavLink href="https://github.com/funkysi1701" style="color: black">
            <span class="fab fa-github" aria-hidden="true"></span> GitHub
        </NavLink><br />
        <NavLink href="https://dev.to/funkysi1701" style="color: black">
            <span class="fab fa-dev" aria-hidden="true"></span> DevTo
        </NavLink>
    </div>
</div>
<hr />
